<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<form action="/products/<%= product.id %>?m=PUT" method="post" enctype="multipart/form-data">
  <body>
    <%- include('../partials/header') %>
    <main id="update">
      <section class="form-create">
        <article>
          <picture class="logo-Create">
            <img src="/img/logo/logoSimple.svg" alt="" id="logo-Create-top" />
          </picture>
        </article>
        <h3 id="title"> Formulario de edición de Producto </h3>
        
        <% if (product && unidades) { %>
        <form action="/products/<%= product.id %>?m=PUT" method="post" enctype="multipart/form-data">
         
          <fieldset>
            <label for="name">
            <input type="text" name="name" id="name" value="<%= product.name %> " required>
            </label>
          </fieldset>

            <fieldset>
            <label class="precios" for = "price">
            <input type="number" name= "price" id="price" value="<%= product.price %>" min="1" required>
          </label>
       </fieldset>

          <fieldset id="labelSizes">
            <legend>Talles</legend>
            <% for( let i = 0; i < product.sizes.length; i++ ) { %>
              <label for="<%= product.sizes[i].sizes_short %> "><%= product.sizes[i].sizes_short %> </label>
            <% } %>                    
          </fieldset> 
          
          <fieldset id="sizes">
            <% for( let i = 0; i < product.sizes.length; i++ ) { %>
              <input type="text" name="units" minlength="1" maxlength="2" value="<%= unidades[i].units %>" id="<%= product.sizes[i].sizes_short %> ">  
            <% } %>                    
           </fieldset>

          <fieldset>
            <label class="descripciones" for="description"></label>
            <textarea name="description" id="description" ><%=product.description%></textarea>
          </fieldset>

          <fieldset>
            <label class="img" for="image"></label>
            <input type="file" name="image" id="image" multiple>
          
            <fieldset id="labelRadio">
              <label for="men">Hombre</label>
              <label for="women">Mujer</label>
              <label for="accesorio">Accesorio</label>
            </fieldset>
          <fieldset id="radioBtn">
            <input type="radio" id="men" name="category" value="hombre" 
              <% if (product.category == "hombre") { %> checked > <% } else { %> > <% } %> 
                             
            <input type="radio" id="women" name="category" value="mujer"
             <% if (product.category == "mujer") { %> checked > <% } else{ %> > <% } %>    

             <input type="radio" id="accesorio" name="category" value="accesorio"
             <% if (product.category == "accesorio") { %> checked > <% } else{ %> > <% } %>    
          </fieldset>

          <fieldset>
            <label for="discount">Descuento</label>
            <input type="checkbox" name="ofert" id="ofert" 
              <% if (product.ofert) { %> checked > <% }else {%> > <% } %> 
  
            <input type="number" name="discount" id="discount" value="<%= product.discount %>"> 
          </fieldset>
          
          <fieldset>
            <button class="boton" type="submit">Update</button>
          </fieldset>
        </form>
      <% } else { %>
          <p>Por algún motivo el producto seleccionado no existe.</p>
        <% } %>  
      </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>