<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <main>
        <section id="banner">
          <picture>
            <img src="/img/Splash/Splash-1.jpg" alt="banner">
          </picture>
        </section>
        
        <section class="main_section">
          <%= locals.products.ofert %> 
          <% if (locals.products && products.length > 0) { %>
            <h2 class="title-oferta">Ofertas</h2>
            <% products.forEach(element=> { %>
              <% if (element.ofert) { %>
                <article class="card"> 
                  <picture>
                    <a href="/products/<%= element.id %> ">
                      <% if (element.img != null && element.img.length > 0) { %>
                        <img src="/img/Productos/<%= element.img[0]['url'] %> " alt="<%= element.name %> ">
                        
                      <% } else {%>
                        <img src="/img/Productos/default.jpg" alt="<%= element.name %>">
                      <% } %> 
                    </a>
                  </picture>
                  <ul>
                    <li><%= element.name %></li>
                  <article>
                    <li>$<%= element.price %></li>
                    <li>$<%= parseInt(element.price * ((100 - element.discount) / 100)) %> </li>
                  </article>
                  </ul>
                </article>                    
              <% }%>
               
              <% }) %>
              <% } else {%>
                <h2 class="title-oferta">Atención!!</h2>
                <p>
                  En estos momentos no contamos con productos en oferta,
                  pruebe mas tarde.
                </p>
                <% } %> 
        </section>
      </main>
      <%- include('./partials/footer') %>
  </body>

</html>
